/* =====================================================================================
 *
 *
 * All definitions related to various boxes
 *
*/

.Box-A {
    background: url("box-a-body-r.gif") no-repeat scroll right bottom transparent;
    /* font-size: 100%; */
    margin-bottom: 15px;
}


.Box-A .boxhead {
    background: url("box-c-head-r.gif") no-repeat scroll right top transparent;
    margin: 0;
    padding: 0;
    text-align: left;
}

.Box-A .boxhead h2 {
    background: url("box-c-head-l.gif") no-repeat scroll left top transparent;
    color: #222222;
    font: bold 12px tahoma;
    margin: 0;
    padding: 9px 8px 9px 10px;
}

.Box-A .boxbody {
    background: url("box-a-body-l.gif") no-repeat scroll left bottom transparent;
    font: 12px arial;
    margin: 0;
    padding: 5px 9px;
}

/* Generated table from tablestyler.com */

.datagrid table { 
    border-collapse: collapse; text-align: left; width: 100%; 
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif; 
    background: #fff; 
    overflow: hidden; 
    border: 1px solid #FF8E00; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
    width: 100%;
}

.datagrid table td, .datagrid table th { 
    padding: 3px 10px; 
}

.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF8E00), color-stop(1, #C26C00) );background:-moz-linear-gradient( center top, #FF8E00 5%, #C26C00 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8E00', endColorstr='#C26C00');background-color:#FF8E00; color:#FFFFFF; font-size: 15px; font-weight: bold; 
} 

.datagrid table tbody td { 
    color: #7F4614; border-left: 1px solid #D9CFB8;font-size: 12px;font-weight: normal; 
}

.datagrid table tbody .alt td { 
    background: #F0E5CC; color: #7F4614; 
}

.datagrid table tbody td:first-child { 
    border-left: none; 
}

.datagrid table tbody tr:last-child td { 
    border-bottom: none; 
}

.datagrid th#rankScoreTh {
    width: 12px;
}

.datagrid th#pointsScoreTh {
    width: 40px;
}

/* -----------------------
   - The scoreboard
   ----------------------- */

table#scoreboardPresentation {
    width: 100%;
}

table#scoreboardPresentation,
table#scoreboardPresentation tr,
table#scoreboardPresentation td {
    border: 0;
}

table#scoreboardPresentation td#firstColScore,
table#scoreboardPresentation td#thirdColScore {
    background: url(celtic-64x64.png) no-repeat scroll center center transparent;
    width: 160px;
}

/* -----------------------
   - The matchup
   ----------------------- */

div.sectionMatchup {
    width: 420px;
    margin: 0 auto;
}

#allRounds {
    width: 99%;
}

.round {
    width: 97%;
    padding: 5px 10px 5px 10px;
    margin: 0 0 10px 0;
    background-color: #3F3F3F;
}

.round span.byedPlayer {
    color: #FF8E00;
    font-weight: bold;
}

.round h2 {
    border-bottom: solid #565656 1px;
}

.round input {
    width: 50px;
}

.round table {
    width: 99%;
}

.round table tr td:first-child {
    width: 46%;
    text-align: right;
}

.round table td.marker {
    width: 6%;
    text-align: center;
}

.round span.panelMatchup {
    float: right;
}

.round a {
    text-decoration: none;
}

input#saveScoreButton {
    width: 120px;
}

span#info {
    color: #FA0021;
    padding-left: 7px;
}